# Variables
Variables are containers for storing data values
Variables are a memory used to store some data(value)
In python variables are dynamic (we dont even have to declare the type of variable)

## Rules in naming a variable
1. A variable name must start with a letter or an underscore character
2. Variable name cannot start with a number
3. Variable name can only contain an alpha numeric characters (a1-accepted, 1a-not accepted) and underscores(A-z, 0-9, and _)
4. A variable accepts only underscore_ symbol
5. Variable names are case sensitive
6. It cant accept reserve/key word

### Terms used in variables
Value
Object
Address
Data Type

List of keywords:['False','None','True','']

# Variable assignments

## Single line variables

In [1]:
#For printing just values:
print(20)

20

In [2]:
#For saving and printing values variables are used
a=20
print(a)

20

In [3]:
#This is the first variable asignment
a=9
print(a)
#first the value is created and then the variable is assigned

9

In [4]:
A=2.0
print(A)

2.0

In [5]:
print(c)
#Error type: 1.Name Error

NameError: name 'c' is not defined

In [ ]:
c=45
print(c)

In [ ]:
z="Ayesha"
print(z)
# Values are of two types
    #1.Numeric
        #a. Without decimals
        #b. With decimals
    #2. Text
        #Whenever a text value is assigned to a variable it must be in quotations(inverted commas)

In [ ]:
a1=40
print(a1)

In [ ]:
a_1=20
print(a_1)

In [ ]:
1a=30
print(1a)
#Error type: 2 Syntax error
#variables are always alphanumeric

In [ ]:
if=3 
#keywords cannot be used as the variable name

## Multiple Variables

In [ ]:
a,b,c=10,20,30
print(a)
print(b)
print(c)
#Make sure the number of variables matches the number of values

## One value to multiple variables

In [1]:
a=b=c="Ayesha"
print(a)
print(b)
print(c)
id(a)

Ayesha
Ayesha
Ayesha

4373664432

Note: 
In Python, the objects are created based on values and not based on variable names
For one value, only one object is assigned but it can have infinate names(memory efficient). Check ids

In [2]:
w=40
y=40
print(w)
print(y)
id(w)

40
40

4309969336

In [ ]:
id(y)

In [ ]:
k="kulsum"
id(k)

In [ ]:
k=78
id(k)

In python, latest values are stored

In [3]:
a=1
c=2
b=3
c=5
b=8
print(c)

5

# Order of execution??

In [ ]:
a=4

In [ ]:
a=5

In [ ]:
print(a)

In [ ]:
a=10
del a
print(a)

In [ ]:
a=10
b=20
c=30
del a,b
print(c)