Python has 2 funtions
1. In built functions
2. user defined functions

python syntax for print
1. print(values)
2. print(variables)
3. print(value1, val 2...)
4. print(var1, var2,...)
5. print(combination of all the above)

#### Printing Value

In [1]:
print(10)

10

#### Printing Text

In [2]:
print("Zeba")

Zeba

#### Printing Variable

In [3]:
a=10
print(a)

10

#### Printing multiple varibles

In [4]:
a=10
b=20
c=30
d=40
print(a,b,c,d,sep=" & ")

10 & 20 & 30 & 40

In [5]:
print(10,20,30,40)

10 20 30 40

In [6]:
a=100
print("The value of a: ",a)

The value of a:  100

#### Printing Combinations

In [7]:
l=393
print(7856, l)

7856 393

In [8]:
num=12
name="Sana"
print("My name is: ", name, "and my age is: ", num)

My name is:  Sana and my age is:  12

In [9]:
print("My name is: {} and my age is: {}".format(name,num))

My name is: Sana and my age is: 12

In [10]:
print("My name is: {x} and my age is: {y}".format(x=name,y=num))

My name is: Sana and my age is: 12

In [11]:
print("Navin's Laptop")

Navin's Laptop