# Sets
- Sets can be used to perform mathematical set operations like union, intersection,symmetric difference etc

### A set is a collection of unique items.

It doesn’t allow duplicates.

It is unordered (items don’t have a fixed position).

It is mutable (you can add or remove items).

## Empty Sets

In [1]:
a=set()
print(a)
type(a)

set()

set

In [2]:
dictt = {}
type(dictt)

dict

-Set is an unordered set of items
-sets are enclosed in curly brackets{}

In [3]:
a={10,30,34,9042,934,93,120,3012,20,40,5,"a"}
a

{10, 120, 20, 30, 3012, 34, 40, 5, 9042, 93, 934, 'a'}

- Every element is unique (no duplicates)

In [5]:
b={1,1,1,1,2,2,2,2,3,3,3,4,4,4,}
b

{1, 2, 3, 4}

- Sets doesnt support indexing and slicing because its unordered collection of items

In [6]:
a={10,30,34,9042,934,93,120,3012,20,40,5,"a"}
print(a[1])

TypeError: 'set' object is not subscriptable

- Creating sets by using list

In [7]:
l=[1,2,3,1,2,3,1,2]
s=set(l)
s

{1, 2, 3}

- Creating sets by using tuples

In [8]:
t=(1,1,1,2,2,2,3,3,3,4,4,4,5)
set(t)

{1, 2, 3, 4, 5}

In [9]:
list(set(t))

[1, 2, 3, 4, 5]

## Set Methods

In [10]:
#sets are mutable
c=set()
c

set()

In [28]:
c.add(3)
c

{3, 4, 5}

In [12]:
s={3,4}
s.update([8,6,14,"abc"])  #updates multiple values at once
print(s)

{3, 4, 6, 8, 'abc', 14}

In [13]:
c={3,4,5}
d=c.copy()
d.add(6)
print(d)
print(c)

{3, 4, 5, 6}
{3, 4, 5}

In [15]:
s={1,2,3,4}
s
type(s)

set

In [16]:
s.discard(3)
s

{1, 2, 4}

In [17]:
s.discard(8)
s          #even though 8 is not in the set it will not give error..if it is there it removes it

{1, 2, 4}

In [18]:
e={394,45,45,4,24,56,56,34}
e.remove(56)
print(e)

{34, 4, 24, 394, 45}

In [20]:
e.remove(534)
e        #remove gives error

KeyError: 534

In [21]:
e={394,45,45,4,24,56,56,34}
e.clear()
e

set()

In [22]:
e={394,45,45,4,24,56,56,34}
del e
e

NameError: name 'e' is not defined

In [26]:
eff={394,45,45,4,24,56,56}
eff.pop()

56

## Set operations

In [29]:
set1={1,2,3,5}
set2={4,5,6}
set3={7,8,9}

set1.union(set2,set3)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [32]:
set1|set3|set3
# we can also use pipe sign

{1, 2, 3, 5, 7, 8, 9}

In [30]:
set1.intersection(set2)

{5}

In [33]:
set1 & set2

{5}

In [34]:
set1-set2

{1, 2, 3}

In [35]:
set2-set1

{4, 6}

In [37]:
set1.symmetric_difference(set2)
#Symmetric_difference() is (A union B)-(A intersection B)-- removes the common elemest

{1, 2, 3, 4, 6}

In [42]:
set1^set2 # ^ symbol is used for symmetric intersection

{1, 2, 3, 4, 6}

In [38]:
c={4,5,6}
d={3,4,5,6}
c.issubset(d)

True

In [39]:
d.issubset(c)

False

In [40]:
d.issuperset(c)

True

In [41]:
c.issuperset(d)

False

In [43]:
d.isdisjoint(c)

False